openapi: 3.0.3
info:
  title: Prometeo Account Validation API
  description: Prometeo is a LatAm-founded (Uruguay) fintech infrastructure platform exposing a single financial API over 7,500+ banking connections across the Americas. Products include the Banking API (account access, movements, transfers), Account Validation, Cross-Border payments (pay-in / payout / FX), the Payment (account-to-account) API, Identity (Mexico CURP), and Fiscal (DIAN / SAT / CEP / BCU). All products authenticate with an X-API-Key header.
  termsOfService: https://prometeoapi.com/en/legal/msa
  contact:
    name: Prometeo Support
    url: https://docs.prometeoapi.com
    email: sales@prometeoapi.com
  version: '1.0'
servers:
- url: https://banking.prometeoapi.net
  description: Banking API - production
- url: https://banking.sandbox.prometeoapi.com
  description: Banking API - sandbox (mock data)
security:
- ApiKeyAuth: []
tags:
- name: Account Validation
  description: Real-time bank account verification / ownership checks.
paths:
  /validate-account/:
    post:
      operationId: validateAccount
      tags:
      - Account Validation
      summary: Verify a bank account is valid and reachable
      servers:
      - url: https://account-validation.prometeoapi.net
        description: Account Validation API - production
      - url: https://account-validation.sandbox.prometeoapi.com
        description: Account Validation API - sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateAccountRequest'
      responses:
        '200':
          description: Validation result.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    ValidateAccountRequest:
      type: object
      properties:
        account_number:
          type: string
        country_code:
          type: string
          description: ISO country code (e.g. MX, BR, PE, US).
        bank_code:
          type: string
        document_number:
          type: string
      required:
      - account_number
      - country_code
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: All Prometeo products authenticate with a per-account API key sent in the X-API-Key request header. Keys are issued from dashboard.prometeoapi.com; the sandbox key is available immediately on first login.
