openapi: 3.0.3
info:
  title: Prometeo Account Validation Identity API
  description: Prometeo is a LatAm-founded (Uruguay) fintech infrastructure platform exposing a single financial API over 7,500+ banking connections across the Americas. Products include the Banking API (account access, movements, transfers), Account Validation, Cross-Border payments (pay-in / payout / FX), the Payment (account-to-account) API, Identity (Mexico CURP), and Fiscal (DIAN / SAT / CEP / BCU). All products authenticate with an X-API-Key header.
  termsOfService: https://prometeoapi.com/en/legal/msa
  contact:
    name: Prometeo Support
    url: https://docs.prometeoapi.com
    email: sales@prometeoapi.com
  version: '1.0'
servers:
- url: https://banking.prometeoapi.net
  description: Banking API - production
- url: https://banking.sandbox.prometeoapi.com
  description: Banking API - sandbox (mock data)
security:
- ApiKeyAuth: []
tags:
- name: Identity
  description: Mexico CURP query and reverse query.
paths:
  /query:
    post:
      operationId: curpQuery
      tags:
      - Identity
      summary: Query Mexican CURP data by CURP code
      servers:
      - url: https://identity.prometeoapi.net
        description: Identity API - production
      - url: https://identity.sandbox.prometeoapi.com
        description: Identity API - sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                curp:
                  type: string
              required:
              - curp
      responses:
        '200':
          description: CURP record.
          content:
            application/json:
              schema:
                type: object
  /reverse-query:
    post:
      operationId: curpReverseQuery
      tags:
      - Identity
      summary: Resolve a CURP from demographic data
      servers:
      - url: https://identity.prometeoapi.net
        description: Identity API - production
      - url: https://identity.sandbox.prometeoapi.com
        description: Identity API - sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                first_surname:
                  type: string
                last_surname:
                  type: string
                birthday:
                  type: string
                gender:
                  type: string
                state:
                  type: string
      responses:
        '200':
          description: CURP resolved.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: All Prometeo products authenticate with a per-account API key sent in the X-API-Key request header. Keys are issued from dashboard.prometeoapi.com; the sandbox key is available immediately on first login.
