# Provenance: modeled-from-docs (2026-07-17).
# Prometeo does not publish a single downloadable first-party OpenAPI document at a
# stable URL; this spec was MODELED from the public developer docs at
# https://docs.prometeoapi.com and the official prometeo-python SDK
# (github.com/prometeoapi/prometeo-python) and prometeo-mcp server
# (github.com/prometeoapi/prometeo-mcp). Hosts, the X-API-Key auth header, and the
# literal path strings below were taken from the SDK product clients and the
# documented curl example (POST https://banking.sandbox.prometeoapi.com/login/).
# Each Prometeo product runs on its own host; per-operation `servers` overrides
# record the real host for non-banking operations.
openapi: 3.0.3
info:
  title: Prometeo API
  description: >-
    Prometeo is a LatAm-founded (Uruguay) fintech infrastructure platform
    exposing a single financial API over 7,500+ banking connections across the
    Americas. Products include the Banking API (account access, movements,
    transfers), Account Validation, Cross-Border payments (pay-in / payout / FX),
    the Payment (account-to-account) API, Identity (Mexico CURP), and Fiscal
    (DIAN / SAT / CEP / BCU). All products authenticate with an X-API-Key header.
  termsOfService: https://prometeoapi.com/en/legal/msa
  contact:
    name: Prometeo Support
    url: https://docs.prometeoapi.com
    email: sales@prometeoapi.com
  version: '1.0'
servers:
  - url: https://banking.prometeoapi.net
    description: Banking API - production
  - url: https://banking.sandbox.prometeoapi.com
    description: Banking API - sandbox (mock data)
security:
  - ApiKeyAuth: []
tags:
  - name: Banking
    description: Bank account access, movements, transfers, credit cards, providers.
  - name: Account Validation
    description: Real-time bank account verification / ownership checks.
  - name: Cross-Border
    description: Pay-in intents, payouts over local rails, and FX exchange.
  - name: Payment
    description: Account-to-account (open banking initiated) payment intents.
  - name: Identity
    description: Mexico CURP query and reverse query.
paths:
  /login/:
    post:
      operationId: login
      tags: [Banking]
      summary: Authenticate against a banking provider
      description: >-
        Starts a banking session against a provider using the end user's
        credentials. Returns a session `key` used on subsequent Banking calls.
        May return an interactive-login challenge (MFA) to be answered via
        /login-procedure/.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Session established or interactive challenge required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /login-procedure/:
    post:
      operationId: loginProcedure
      tags: [Banking]
      summary: Answer an interactive login (MFA) challenge
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                key:
                  type: string
                answer:
                  type: string
              required: [key]
      responses:
        '200':
          description: Challenge answered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
  /info/:
    get:
      operationId: getClientInfo
      tags: [Banking]
      summary: Get logged-in user / session preferences
      parameters:
        - $ref: '#/components/parameters/SessionKey'
      responses:
        '200':
          description: Session info.
          content:
            application/json:
              schema:
                type: object
  /client/:
    get:
      operationId: listClients
      tags: [Banking]
      summary: List clients available on the session
      parameters:
        - $ref: '#/components/parameters/SessionKey'
      responses:
        '200':
          description: Clients list.
          content:
            application/json:
              schema:
                type: object
  /client/{client_id}/:
    get:
      operationId: selectClient
      tags: [Banking]
      summary: Select a client for the session
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SessionKey'
      responses:
        '200':
          description: Client selected.
          content:
            application/json:
              schema:
                type: object
  /account/:
    get:
      operationId: listAccounts
      tags: [Banking]
      summary: List accounts for the authenticated session
      parameters:
        - $ref: '#/components/parameters/SessionKey'
      responses:
        '200':
          description: Accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /movement/:
    get:
      operationId: listMovements
      tags: [Banking]
      summary: List movements (transactions) for an account
      parameters:
        - $ref: '#/components/parameters/SessionKey'
        - name: account
          in: query
          required: true
          schema:
            type: string
        - name: currency
          in: query
          required: true
          schema:
            type: string
            example: USD
        - name: date_start
          in: query
          required: true
          schema:
            type: string
            example: 01/07/2026
        - name: date_end
          in: query
          required: true
          schema:
            type: string
            example: 17/07/2026
      responses:
        '200':
          description: Movements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovementsResponse'
  /credit-card/:
    get:
      operationId: listCreditCards
      tags: [Banking]
      summary: List credit cards for the session
      parameters:
        - $ref: '#/components/parameters/SessionKey'
      responses:
        '200':
          description: Credit cards.
          content:
            application/json:
              schema:
                type: object
  /credit-card/{card_number}/movements:
    get:
      operationId: listCreditCardMovements
      tags: [Banking]
      summary: List movements for a credit card
      parameters:
        - name: card_number
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SessionKey'
        - name: currency
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Credit card movements.
          content:
            application/json:
              schema:
                type: object
  /provider/:
    get:
      operationId: listProviders
      tags: [Banking]
      summary: List available banking providers
      responses:
        '200':
          description: Providers.
          content:
            application/json:
              schema:
                type: object
  /provider/{provider_code}/:
    get:
      operationId: getProviderDetail
      tags: [Banking]
      summary: Get detail / required login fields for a provider
      parameters:
        - name: provider_code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Provider detail.
          content:
            application/json:
              schema:
                type: object
  /transfer/destinations:
    get:
      operationId: listTransferDestinations
      tags: [Banking]
      summary: List enrolled transfer destination accounts
      parameters:
        - $ref: '#/components/parameters/SessionKey'
      responses:
        '200':
          description: Destinations.
          content:
            application/json:
              schema:
                type: object
  /transfer/preprocess:
    post:
      operationId: preprocessTransfer
      tags: [Banking]
      summary: Pre-process (stage) an account-to-account transfer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferPreprocessRequest'
      responses:
        '200':
          description: Transfer staged; may require MFA before confirm.
          content:
            application/json:
              schema:
                type: object
  /transfer/confirm:
    post:
      operationId: confirmTransfer
      tags: [Banking]
      summary: Confirm a previously staged transfer (moves money)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                key:
                  type: string
                request_id:
                  type: string
                authorization_type:
                  type: string
                authorization_data:
                  type: string
              required: [key, request_id]
      responses:
        '200':
          description: Transfer confirmed.
          content:
            application/json:
              schema:
                type: object
  /logout/:
    get:
      operationId: logout
      tags: [Banking]
      summary: End the banking session
      parameters:
        - $ref: '#/components/parameters/SessionKey'
      responses:
        '200':
          description: Session ended.
          content:
            application/json:
              schema:
                type: object
  /validate-account/:
    post:
      operationId: validateAccount
      tags: [Account Validation]
      summary: Verify a bank account is valid and reachable
      servers:
        - url: https://account-validation.prometeoapi.net
          description: Account Validation API - production
        - url: https://account-validation.sandbox.prometeoapi.com
          description: Account Validation API - sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateAccountRequest'
      responses:
        '200':
          description: Validation result.
          content:
            application/json:
              schema:
                type: object
  /query:
    post:
      operationId: curpQuery
      tags: [Identity]
      summary: Query Mexican CURP data by CURP code
      servers:
        - url: https://identity.prometeoapi.net
          description: Identity API - production
        - url: https://identity.sandbox.prometeoapi.com
          description: Identity API - sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                curp:
                  type: string
              required: [curp]
      responses:
        '200':
          description: CURP record.
          content:
            application/json:
              schema:
                type: object
  /reverse-query:
    post:
      operationId: curpReverseQuery
      tags: [Identity]
      summary: Resolve a CURP from demographic data
      servers:
        - url: https://identity.prometeoapi.net
          description: Identity API - production
        - url: https://identity.sandbox.prometeoapi.com
          description: Identity API - sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                first_surname:
                  type: string
                last_surname:
                  type: string
                birthday:
                  type: string
                gender:
                  type: string
                state:
                  type: string
      responses:
        '200':
          description: CURP resolved.
          content:
            application/json:
              schema:
                type: object
  /payin/intent:
    post:
      operationId: createPayinIntent
      tags: [Cross-Border]
      summary: Create a cross-border pay-in intent (virtual account / QR)
      servers:
        - url: https://crossborder.secure.prometeoapi.net/v1
          description: Cross-Border API - production
        - url: https://crossborder-api.sandbox.prometeoapi.com
          description: Cross-Border API - sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Pay-in intent created.
          content:
            application/json:
              schema:
                type: object
    get:
      operationId: listPayinIntents
      tags: [Cross-Border]
      summary: List cross-border pay-in intents
      servers:
        - url: https://crossborder.secure.prometeoapi.net/v1
        - url: https://crossborder-api.sandbox.prometeoapi.com
      responses:
        '200':
          description: Intents.
          content:
            application/json:
              schema:
                type: object
  /payin/intent/{intent_id}:
    get:
      operationId: getPayinIntent
      tags: [Cross-Border]
      summary: Get a cross-border pay-in intent
      servers:
        - url: https://crossborder.secure.prometeoapi.net/v1
        - url: https://crossborder-api.sandbox.prometeoapi.com
      parameters:
        - name: intent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Intent.
          content:
            application/json:
              schema:
                type: object
  /payin/refund:
    post:
      operationId: refundPayin
      tags: [Cross-Border]
      summary: Refund a settled cross-border pay-in
      servers:
        - url: https://crossborder.secure.prometeoapi.net/v1
        - url: https://crossborder-api.sandbox.prometeoapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Refund created.
          content:
            application/json:
              schema:
                type: object
  /payout/transfer:
    post:
      operationId: createPayout
      tags: [Cross-Border]
      summary: Execute a cross-border payout over local rails (moves money)
      servers:
        - url: https://crossborder.secure.prometeoapi.net/v1
        - url: https://crossborder-api.sandbox.prometeoapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Payout created.
          content:
            application/json:
              schema:
                type: object
    get:
      operationId: listPayouts
      tags: [Cross-Border]
      summary: List cross-border payouts
      servers:
        - url: https://crossborder.secure.prometeoapi.net/v1
        - url: https://crossborder-api.sandbox.prometeoapi.com
      responses:
        '200':
          description: Payouts.
          content:
            application/json:
              schema:
                type: object
  /payout/transfer/{payout_id}:
    get:
      operationId: getPayout
      tags: [Cross-Border]
      summary: Get a cross-border payout
      servers:
        - url: https://crossborder.secure.prometeoapi.net/v1
        - url: https://crossborder-api.sandbox.prometeoapi.com
      parameters:
        - name: payout_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payout.
          content:
            application/json:
              schema:
                type: object
  /fx/exchange:
    post:
      operationId: exchangeFx
      tags: [Cross-Border]
      summary: Execute an FX exchange for a cross-border flow
      servers:
        - url: https://crossborder.secure.prometeoapi.net/v1
        - url: https://crossborder-api.sandbox.prometeoapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: FX exchange executed.
          content:
            application/json:
              schema:
                type: object
  /api/v1/payment-intent/:
    post:
      operationId: createPaymentIntent
      tags: [Payment]
      summary: Create an account-to-account payment intent
      servers:
        - url: https://payment.prometeoapi.net
          description: Payment API - production
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Payment intent created.
          content:
            application/json:
              schema:
                type: object
  /api/v1/payment-intent/{intent_id}:
    get:
      operationId: getPaymentIntent
      tags: [Payment]
      summary: Get an account-to-account payment intent
      servers:
        - url: https://payment.prometeoapi.net
      parameters:
        - name: intent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment intent.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: >-
        All Prometeo products authenticate with a per-account API key sent in the
        X-API-Key request header. Keys are issued from dashboard.prometeoapi.com;
        the sandbox key is available immediately on first login.
  parameters:
    SessionKey:
      name: key
      in: query
      required: true
      description: Banking session key returned by /login/.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key / session key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    LoginRequest:
      type: object
      properties:
        provider:
          type: string
          description: Provider code (from /provider/). Use "test" in sandbox.
          example: test
        username:
          type: string
        password:
          type: string
        type:
          type: string
          description: Optional document/login type required by some providers.
      required: [provider, username, password]
    LoginResponse:
      type: object
      properties:
        status:
          type: string
          enum: [logged_in, interaction_required, wrong_credentials, error]
        key:
          type: string
        context:
          type: string
        field:
          type: string
    AccountsResponse:
      type: object
      properties:
        status:
          type: string
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
    Account:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        number:
          type: string
        branch:
          type: string
        currency:
          type: string
        balance:
          type: number
    MovementsResponse:
      type: object
      properties:
        status:
          type: string
        movements:
          type: array
          items:
            $ref: '#/components/schemas/Movement'
    Movement:
      type: object
      properties:
        id:
          type: integer
        reference:
          type: string
        date:
          type: string
        detail:
          type: string
        debit:
          type: number
        credit:
          type: number
    TransferPreprocessRequest:
      type: object
      properties:
        key:
          type: string
        origin_account:
          type: string
        destination_institution:
          type: string
        destination_account:
          type: string
        currency:
          type: string
        amount:
          type: number
        concept:
          type: string
      required: [key, origin_account, destination_account, amount, currency]
    ValidateAccountRequest:
      type: object
      properties:
        account_number:
          type: string
        country_code:
          type: string
          description: ISO country code (e.g. MX, BR, PE, US).
        bank_code:
          type: string
        document_number:
          type: string
      required: [account_number, country_code]
    Error:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
